In [1]:
import pandas as pd
print(pd.__version__)

1.0.5

In [2]:
import numpy as np
arr = np.arange(1, 10)
s = pd.Series(arr)
print(s)
print(type(s))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
<class 'pandas.core.series.Series'>

In [5]:
dictionary = {"A":  0, "B":1, "C":2, "D":3, "E":5}
s = pd.Series(dictionary)
df = pd.DataFrame(s)
print(df)
df = df.reset_index()
print(df)

   0
A  0
B  1
C  2
D  3
E  5
  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  5

In [2]:

import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [7]:
df = sns.load_dataset('mpg')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [9]:
df['origin'].value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64

In [10]:
a = df[df['origin']=='usa']
print(a.head())
print()
print(a.shape)
print(a['origin'].value_counts())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino

(249, 9)
usa    249
Name: origin, dtype: int64